{
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended"
  ],
  "rules": {
    "semi": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "error",
    "indent": [
      "error",
      2
    ],
    "eol-last": [
      "error",
      "always"
    ]
  }
}